/* === RESET === */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background: #121212;
    background-size: cover;
    color: #eee;
    position: relative;
    overflow-x: hidden;
}